a {
    text-decoration:none;
}

#header {
    position:absolute;
    width:100%;
    top:0px;
    text-align:center;
    background-color:#037171;
    color:#efe;
    height:100px;
}

#header h1 {
    font-family:'Caveat', cursive;
    align-items:center;
}

#sidebar {
    padding:0px 5px 0px;
    background-color:#037171;
    position:fixed;
    top:0px;
    height:100%;
    width:15%;
}

#sidebar a {
    padding:5px 10px 5px;
    margin-bottom:10px;
    display:block;
    text-align:center;
    border-style:solid;
    border-radius:10px;
    border-color:#efe;
    color:#efe;
    font-family:'Inconsolata', monospace;
}

#sidebar a:hover{
    background-color:white;
    color:#037171;
}

body {
    background-color:#efe;
}

#main {
    position:relative;
    top:100px;
    left:20%;
    margin-right:10%;
    color:#2E3532;
    font-family:'Inconsolata', monospace;
    font-size:20px;
    width:80%;
}

#instructions {
    border-style:solid;
    border-radius:15px;
    padding:5px 5px 5px;
    font-size:medium;
}

#promptContainer{
    padding-bottom: 25px;
    border-style:solid;
    border-radius:15px;
    padding:10px;
}

#inputBoxContainer {
    text-align:center;
    padding: 25px 0px 10px
}

#calculateContainer {
    text-align:center;
    margin-top:50px;
}

#reload {
    margin-top:50px;
    border-radius:15px;
    font-size:large;
    padding:5px;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none;
    border: black solid;
}

#prizes {
    border-style:solid;
    border-radius:15px;
    margin-top:15px;
    padding:10px;
}

button {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none;
    border: black solid;
    border-radius: 15px;
    padding: 5px;
    font-family:'Inconsolata', monospace;
}

input {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none;
    border: black solid;
    border-radius: 15px;
    padding:5px;
    font-family:'Inconsolata', monospace;
    font-weight:500;
    margin-right: 10px;
}

#actionsContainer {
    border-style:solid;
    border-radius:15px;
    margin-top:15px;
    padding:10px;
}

#inputActionsContainer {
    padding: 25px 0px 10px;
    text-align:center;
}

#possiblesContainer {
    border-style:solid;
    border-radius:15px;
    margin-top:15px;
    padding:10px;
}

#valuesContainer {
    border-style:solid;
    border-radius:15px;
    margin-top:15px;
    padding:10px;
}

#inputActions {
    margin-right:0px !important;
}

#resultContainer {
    border-style:solid;
    border-radius:15px;
    margin-top:15px;
    padding:10px;
}